venv/
videoLLava/
videos/
.cache/
.conda/
.config/
.dotnet/
.ipython/
.local/
.nv/
.ollama/
.profile
.python_history
.ssh/
.vscode-server/
.wget-hsts
videoLLava/
venv/
*.pyc
__pycache__/
.DS_Store
ollama
.bash_history
.bash_logout
.bashrc
.lesshst
.w3m
